@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

#topicWrap{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin-bottom: 2rem;
}

#topicWrapHeader{
    width:100%;
    height:5%;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border-bottom: 0.5px solid black;
    padding: 10px;
}

#topicWrapHeader span{
    font-size: 1.2rem;
    font-family: 'Young Serif', serif;
}

#topicWrapTitles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    margin-bottom: 2rem;
}

#topicWrapTitles h1{
    font-weight: bold;
    font-size: 5.5rem;
    font-family: 'Young Serif', serif;
}

#topicWrapTitles h2{
    font-size: 1.5rem;
    font-family: 'Young Serif', serif;
}

#topicheader span{
    font-weight: bold;
    font-size: 1.2rem;
    font-family: 'Young Serif', serif;
}

#topicspanner{
    width: 30px;
    height: 30px;
    margin-right: 35px;
}

#topicImgWrap{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}

#topicImgContainer{
    width: 95%;
    height: 90%;
    object-fit: contain;
}

#topicBody{
    width: 95%;
    font-size: 1.2rem;
    font-family: 'Young Serif', serif;
    line-height: 30px;
}

#topicImg{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#topicBodyContainer{
    display: flex;
    justify-content: center;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    #topicWrapTitles h1{
        text-align: center;
        font-family: 'Young Serif', serif;
        color: black;
        font-weight: bold;
        font-size: 3.5rem;
    }
    
    #topicWrapTitles h2{
        font-family: 'Young Serif', serif;
        font-size: 1.2rem;
        color: black;
    }

    #topicBodyContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;
    }
    #topicBody{
        font-size: 1.2rem;
        margin-left: 2rem;
        width: 98%;
        line-height: 22px;
    }
}
