#mainBody{
    width:100vw;
    height:100vh;
}

#header{
    width:100%;
    height:5%;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border-bottom: 0.5px solid black;
    padding: 10px;
}

#header span{
    font-weight: bold;
    font-size: 1.2rem;
}

#headerRight,#headerLeft{
    display: flex;
}

#spanner{
    width: 30px;
    height: 30px;
    margin-right: 35px;
}

#blogHero{
    background-image: url('https://images.pexels.com/photos/2653362/pexels-photo-2653362.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    width:100%;
    height: 69%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5px solid black;
}

#blogHeroH,#blogHeroP{
    color: #e2d9e2;
    font-weight:bold;
}

#blogHeroH{
    font-size: 4rem;
    width:50%;
    line-height: 90px;
}

#blogHeroP{
    font-size: 1.1rem;
    line-height: 30px;
}

#blogBody{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width:100%;
    height: 100%;
}

#topics{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2rem;
}
#blogsWrapper{
    width:70%;
    height: 90%;
    margin-top: 5rem;
}

#singleBlogComponent{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    padding-left: 10px;
    width:100%;
    height:33%;
    margin-bottom: 1rem;
    border:0.3px solid rgb(207, 205, 205);
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
}

#singleBlogComponent:hover{
    box-shadow: -1px 1px 30px -8px rgba(10,9,9,0.75);
-webkit-box-shadow: -1px 1px 30px -8px rgba(10,9,9,0.75);
-moz-box-shadow: -1px 1px 30px -8px rgba(10,9,9,0.75);
}

#blogComponentLeft{
    display: flex;
    flex-direction: column;
    flex:2;
    height: 97%;
    justify-content: center;
}

#blogComponentRight{
    display: flex;
    flex:1;
    height: 97%;
    border-radius: 5px;
    justify-content: center;
}

#blogComponentLeftDate{
font-size: 1.1rem;
margin-bottom: 2px;
}

#blogComponentLeftHeader{
font-size: 1.5rem;
font-weight: bold;
margin-bottom: 2px;
}

#blogComponentLeftP{
    font-size: 1.1rem;
    line-height: 25px;
}

#heroImg{
    width: 100%;
    height: 100%;
}

#imgContainer{
    width: 90%;
    height: 95%;
    object-fit: contain;
}

#imgg{
    width: 100%;
    height: 100%;
    border-radius: 7px;
}